.hidden {
  display: none;
}

.header {
  .row {
    &:hover {
      cursor: pointer;
    }

    .cell {
      background-color: darkblue;
      color: white;
      position: sticky;
      top: 0;
      text-align: left;
      padding: 5px 10px;
    }
  }
}
