.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
  min-height: 100px;
  min-width: 200px;

  &.hidden {
    opacity: 0;
  }

  .title {
    margin: 0;
    background-color: darkblue;
    color: white;
    padding: 5px;
  }

  .content {
    padding: 10px 16px;
  }
}