.body {
  .row {
    transition: background-color 0.25s;

    &:nth-child(odd) {
      background-color: #eee;
    }

    &:hover,
    &.selected {
      background-color: lightblue;
      cursor: pointer;
    }

    .cell {
      border-top: 1px solid #ccc;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      padding: 5px 10px;
    }
  }
}
